
@{
    ViewData["Title"] = "Login";
}

<div id="loginContainer" class="section">
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="direction: rtl;">
            @ViewBag.Error <br />
            <a href="#"><b>هل نسيت كلمة السر؟</b></a>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <h2>تسجيل الدخول</h2>
    <form asp-action="Login" method="post">
        <input type="text" placeholder="البريد الإلكتروني" name="Email">
        <input type="password" placeholder="كلمة السر" name="Password">
        <a href="#">نسيت كلمة السر؟</a>
        <button type="submit">تسجيل الدخول</button>
    </form>
</div>
