@{
    ViewData["Title"] = "SuccessStories";
}

@section HeaderTitle {
    <h2 class="section">قصص نجاح بفضل سخائكم</h2>
}

@model IEnumerable<Sakhaa.Models.SuccessStory>

<div class="successStories">
    @foreach (var story in Model)
    {
        <div class="card mb-4 d-flex">
            <div class="card-image left">
                <img src="/images/@story.ImagePath" alt="@story.Title"/>
            </div>
            <div class="card-content">
                <h3>@story.Title</h3>
                <p>@story.Content</p>
            </div>
        </div>
    }
</div>

@* <div class="successStories"> *@
@*     <div class="card"> *@
@*         <div class="card-image left"> *@
@*             <img src="/images/img_v_4-min.jpg" alt="Image"> *@
@*         </div> *@
@*         <div class="card-content"> *@
@*             <h3>محمد - الأب المكافح</h3> *@
@*             <p> *@
@*                 أبٌ لثلاثة أطفال، كان يعمل في وظيفة يومية لتأمين لقمة العيش لأسرته. لكن بعد تعرضه لإصابة منعته من *@
@*                 العمل، أصبحت حياته مليئة بالتحديات، خاصة عندما واجه صعوبة في تأمين الطعام لأطفاله. *@

@*                 عندما سمع عن برنامج الدعم الغذائي من سخاء، قرر التسجيل على أمل أن يحصل على المساعدة. لم يمضِ وقت *@
@*                 طويل حتى تلقى أول سلة غذائية، مما جعل عائلته تشعر بالأمان والطمأنينة. بفضل الدعم المستمر، تمكن محمد *@
@*                 من التركيز على علاجه الصحي، وخلال بضعة أشهر استطاع العودة إلى عمله بثقة، مع وعد بأن يكون هو الآخر *@
@*                 جزءًا من العطاء في المستقبل. *@
@*             </p> *@
@*         </div> *@
@*     </div> *@

@*     <div class="card"> *@
@*         <div class="card-image right"> *@
@*             <img src="/images/img_v_8-min.jpg" alt="Image"> *@
@*         </div> *@
@*         <div class="card-content"> *@
@*             <h3>أم أحمد</h3> *@
@*             <p> *@
@*                 بعد وفاة زوجها، وجدت أم أحمد نفسها وحيدة في مواجهة أعباء الحياة، مسؤولة عن رعاية أبنائها الأربعة دون *@
@*                 أي مصدر دخل ثابت. كانت تعاني من صعوبة تأمين الغذاء لهم، مما أثر على صحة الأطفال وأدائهم الدراسي. *@

@*                 بفضل سخاء، حصلت أم أحمد على اشتراك شهري في برنامج الدعم الغذائي، والذي وفر لها ولأطفالها طعامًا *@
@*                 مغذيًا بشكل منتظم. هذا الدعم لم يكن مجرد طعام، بل كان دفعة أمل لها للاستمرار. اليوم، وبعد أن استقرت *@
@*                 حياتها، بدأت أم أحمد مشروعًا منزليًا صغيرًا، وأصبحت مثالًا للمرأة القوية التي تحدت الصعاب. *@
@*             </p> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
