@{
    ViewData["Title"] = "من نحن";
}

@section HeaderTitle {
    <h2 class="section">عن سخاء</h2>
}

@section Scripts {
    <script src="~/javaScript/about.js"></script>
}

<div class="aboutSliderContainer">
    <div class="slider">
        <div class="slide">
            <img src="/images/hero_1.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/images/img_v_1-min.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/images/img_v_2-min.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/images/img_v_4-min.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/images/img_v_5-min.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/images/img_v_6-min.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/images/img_v_7-min.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/images/img_v_8-min.jpg" alt="">
        </div>
    </div>
</div>

<section id="aboutUsContainer">
    <div class="content section">
        <div><h3>من نحن</h3></div>
        <p>
            في سخاء، نؤمن بأن العطاء هو جسر للأمل والتغيير الإيجابي. تأسست منصتنا بهدف تسهيل التبرعات وربط القلوب
            بالمحتاجين، حيث نعمل كمنصة متكاملة تتيح للجميع المساهمة بفاعلية في تحسين حياة الأفراد والأسر الأقل حظًا.
        </p>
    </div>
    <div class="content section">
        <div><h3>رؤيتنا</h3></div>
        <p>
            نطمح لأن نكون المصدر الأول للتبرعات الشفافة والمؤثرة في المجتمع العربي، حيث يجتمع السخاء مع الثقة لتغيير
            حياة من هم بحاجة.
        </p>
    </div>
    <div class="content section">
        <div><h3>رسالتنا</h3></div>
        <p>
            رسالتنا هي تمكين الناس من العطاء بسهولة وأمان، مع ضمان وصول التبرعات بشكل مباشر وفعّال للأسر المحتاجة،
            وبناء جسور من العطاء المستدام الذي يلبي الاحتياجات الأساسية ويحدث فرقًا في حياة الكثيرين.
        </p>
    </div>

    <div class="content section">
        <div><h3>أهدافنا</h3></div>
        <div id="goalsImgs">
            <div>
                <img src="/images/generous 1.png">
                <p>تمكين العطاء</p>
            </div>
            <div>
                <img src="/images/self-love (1).png">
                <p>دعم المحتاجين</p>
            </div>
            <div>
                <img src="/images/deal (1).png">
                <p>تعزيز الشفافية</p>
            </div>
            <div>
                <img src="/images/sustainable 1.png">
                <p>تحقيق الاستدامة</p>
            </div>
        </div>
    </div>

    <div class="section">
        <h3>ما الذي يجعلنا مميزين؟</h3>
        <div class="cardsContainer">
            <div class="card">
                <h4>شفافية تامة</h4>
                <p>نوفر تقارير دقيقة للمتبرعين عن كيفية استثمار تبرعاتهم.</p>
                <a href="/pages/reports.html" class="readMore">قراءة المزيد</a>
            </div>
            <div class="card">
                <h4>قصص نجاح ملهمة</h4>
                <p>نشارك قصص العائلات المستفيدة لإلهام المزيد من العطاء.</p>
                <a href="/pages/successStories.html" class="readMore">قراءة المزيد</a>
            </div>
            <div class="card">
                <h4>إهداء التبرعات</h4>
                <p>تقديم التبرعات نيابة عن الأحباب في المناسبات الخاصة.</p>
                <a asp-controller="Donation" asp-action="CustomGiftForm" class="readMore">قراءة المزيد</a>
            </div>
        </div>
    </div>
</section>